ImageClient/Connected Services/ImageService/ImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/files/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/files/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:9001/files/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploadImageRequest">
    <wsdl:part name="parameters" element="tns:UploadImageRequest" />
  </wsdl:message>
  <wsdl:message name="UploadImageRequest_Headers">
    <wsdl:part name="description" element="tns:description" />
    <wsdl:part name="name" element="tns:name" />
    <wsdl:part name="owner" element="tns:owner" />
  </wsdl:message>
  <wsdl:message name="DownloadImageRequest">
    <wsdl:part name="parameters" element="tns:DownloadImageRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadImageResponse">
    <wsdl:part name="parameters" element="tns:DownloadImageResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadImageResponse_Headers">
    <wsdl:part name="fileName" element="tns:fileName" />
    <wsdl:part name="owner" element="tns:owner" />
    <wsdl:part name="size" element="tns:size" />
  </wsdl:message>
  <wsdl:portType name="IImageService">
    <wsdl:operation name="uploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/uploadImage" name="UploadImageRequest" message="tns:UploadImageRequest" />
    </wsdl:operation>
    <wsdl:operation name="getImageByFileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/getImageByFileName" name="DownloadImageRequest" message="tns:DownloadImageRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/getImageByFileNameResponse" name="DownloadImageResponse" message="tns:DownloadImageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageService" type="tns:IImageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadImage">
      <soap:operation soapAction="http://tempuri.org/IImageService/uploadImage" style="document" />
      <wsdl:input name="UploadImageRequest">
        <soap:header message="tns:UploadImageRequest_Headers" part="description" use="literal" />
        <soap:header message="tns:UploadImageRequest_Headers" part="name" use="literal" />
        <soap:header message="tns:UploadImageRequest_Headers" part="owner" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getImageByFileName">
      <soap:operation soapAction="http://tempuri.org/IImageService/getImageByFileName" style="document" />
      <wsdl:input name="DownloadImageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadImageResponse">
        <soap:header message="tns:DownloadImageResponse_Headers" part="fileName" use="literal" />
        <soap:header message="tns:DownloadImageResponse_Headers" part="owner" use="literal" />
        <soap:header message="tns:DownloadImageResponse_Headers" part="size" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="BasicHttpBinding_IImageService" binding="tns:BasicHttpBinding_IImageService">
      <soap:address location="http://localhost:9001/files/upload" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>